{% extends 'base.html' %}

{% block title %}
Добавить новый заказ
{% endblock %}

{% block header %}
<h1>
Добавить новый заказ
</h1>
{% endblock %}

{% block content %}
<div class="text-body text-justify">
    <hr class="mb-4">
    <h2>
       Добавить новый заказ:
    </h2>
    <div class="text-monospace">
    {% if order.id == 0 %}
        <form method="POST" action="/web/orders">
    {% else %}
        <form method="POST" action="/web/order/update">
    {% endif %}
            <input name="id" type="hidden" value="{{ order.id }}">
            <p>
                Пользователь:
                <select name="user_id" class="form-control">
                    {% for user in users %}
                        <option value="{{ user.id }}"
                            {% if order.user_id == user.id %}
                                selected
                            {% endif %}
                        >{{ user.first_name }} {{ user.last_name }}</option>
                    {% endfor %}
                </select>
            </p>
            <p>
                Товар:
                <select name="product_id" class="form-control">
                    {% for product in products %}
                        <option value="{{ product.id }}"
                            {% if order.product_id == product.id %}
                                selected
                            {% endif %}
                        >{{ product.name }}</option>
                    {% endfor %}
                </select>
            </p>
             <p>
                Дата заказа:
                <input name="order_date" type="text" class="form-control" aria-describedby="basic-addon3" value="{{ order.order_date }}">
            </p>
            <p>
                Статус заказа:
                <input name="order_status" type="text" class="form-control" aria-describedby="basic-addon3" value="{{ order.order_status }}">
            </p>
            <p>
                {% if order.id == 0 %}
                <div hidden>
                {% else %}
                <div>
                {% endif %}
                Дата/время создания:
                <input name="created_at" type="text" class="form-control" aria-describedby="basic-addon3" value="{{ order.created_at }}">
                </div>
            </p>

           <p>
                <input type="submit" class="btn btn-primary" value="Записать">
                <input type="reset" class="btn btn-primary" value="Очистить">
            </p>
        </form>
    </div>
</div>

{% endblock %}