{% extends 'base.html' %}

{% block title %}
Просмотр базы данных пользователей
{% endblock %}

{% block header %}
<h1>
Просмотр базы данных пользователей
</h1>
{% endblock %}

{% block content %}
<div class="text-body text-justify">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.password }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr>

</div>

{% endblock %}
